html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.inputBoxStyle{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px;
  font-size: 15px;
  color: aqua;
  text-align: center;
  background-color: transparent;
}
.playbuttonStyle{
  width: 100px;
  height: 50px;
  background-color: blueviolet;
  color:orange;
  text-align: center;
  font-size: 25px;
}
.messageStyle{
  font-size: 30px;
  color:coral;
  text-align: center;
}
.titleStyle{
  width: 450px;
}